<mat-sidenav-container>
  <mat-sidenav fixedInViewport="true" mode="side" opened="" #sidenav>
    <button class="no-box-shadow" mat-fab routerLink="list" [ngClass]="{ 'active': routeTitle === 'Lista de contatos' }">
      <mat-icon fontSet="material-icons-outlined" >person</mat-icon>
    </button>

    <button class="no-box-shadow" mat-fab routerLink="about" [ngClass]="{ 'active': routeTitle === 'Sobre o aplicativo' }">
      <mat-icon fontSet="material-icons-outlined">info</mat-icon>
    </button>
  </mat-sidenav>

  <mat-sidenav-content> <!--conteúdo -->
    <mat-toolbar>
      <div class="go-back-button-and-title-container">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>{{sidenav.opened?'arrow_back_ios':'arrow_forward_ios'}} </mat-icon>
        </button>

        <span class="title">Agenda - Grupo II</span>
      </div>

      <div *ngIf="displayToolsMenu" class="search-input-and-add-button-container">
        <mat-form-field class="contact-search-input" appearance="outline" (keydown)="handleKeydown($event)">
          <mat-icon matPrefix fontSet="material-icons-outlined">search</mat-icon>
          <mat-label>Pesquisar</mat-label>

          <input matInput  type="text" [(ngModel)]="searchValue">
        </mat-form-field>

        <button class="no-box-shadow" mat-fab extended (click)="addNewContact()">
          <mat-icon fontSet="material-icons-outlined">add</mat-icon>
          Novo contato
        </button>
      </div>
    </mat-toolbar>

    <div class="main-content-container">
      <h1 class="page-title">{{ routeTitle }}</h1>

      <div  class="info-search">
        <p *ngIf="searchValue">Buscando: <strong>{{searchValue}}...</strong></p>
      </div>

      <div class="content-router">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
