<mat-sidenav-container>
  <mat-sidenav fixedInViewport="true" mode="side" opened="true" #sidenav>
    <button mat-button routerLink="">Início</button> <br>
    <button mat-button routerLink="new">Novo Contato</button> <br>
    <button mat-button routerLink="list">Listar Contatos</button> <br>
    <button mat-button routerLink="about">Sobre</button> <br>
  </mat-sidenav>

   <mat-sidenav-content> <!--conteúdo -->
    <mat-toolbar>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>{{sidenav.opened?'arrow_back_ios':'arrow_forward_ios'}} </mat-icon>
      </button>
     
      <span class="title">Agenda - Grupo II</span>
    </mat-toolbar>
    
    <div class="content-router">
       <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>