mat-sidenav-container {
  mat-sidenav {
    width: 200px;
    text-align: center;
    padding: 100px 0 0 0;
  }

  mat-sidenav-content {
    height: 100vh;
    // margin-left: 200px;
   

    mat-toolbar {
      background-color: var(--mat-sys-primary-fixed);
      display: flex;
      justify-content: space-between;
      padding: 10px 15px;
      height: 80px;

      .go-back-button-and-title-container {
        display: flex;
        align-items: center;
      }

      .search-input-and-add-button-container {
        display: flex;
        gap: 20px;
        align-items: center;

        mat-form-field {
          min-width: 310px;
        }
        
      }
    }
    .info-search{
          text-align: center;
          height: 30px;
         padding: 10px 0 10px 0;
         font-size: 24px;
         margin-bottom: 20px;
        }
   
  }
}
