<div class="contact-list">
  <div *ngFor="let contact of contactService.filteredContactsArray">
    <mat-card>
      <mat-card-title>{{ contact.name }}</mat-card-title>
      <mat-card-content>
        <p>Email: {{ contact.email }}</p>
        <p>Telefone: {{ contact.phone }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button (click)="openModal(contact.id)">Editar</button>
        <button mat-button (click)="deleteContact(contact.id)">Excluir</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
