@use '@angular/material' as mat;

$material-icons-font-path: "material-icons/iconfont/";
@use "material-icons/iconfont/material-icons.scss";

:root {
  @include mat.all-component-densities(-2);

  @include mat.fab-overrides((
    container-elevation-shadow: none,
    extended-container-elevation-shadow: none,
    extended-focus-container-elevation-shadow: none,
    extended-hover-container-elevation-shadow: none,
    extended-pressed-container-elevation-shadow: none,
    focus-container-elevation-shadow: none,
    hover-container-elevation-shadow: none,
    pressed-container-elevation-shadow: none,
    small-container-elevation-shadow: none,
    small-focus-container-elevation-shadow: none,
    small-hover-container-elevation-shadow: none,
    small-pressed-container-elevation-shadow: none,
    container-color: #303030,
  ));


  @include mat.form-field-overrides((
    outlined-input-text-placeholder-color: #777777,
    leading-icon-color: #777777,
    filled-hover-label-text-color: #777777,
    outlined-hover-label-text-color: #777777,
    outlined-label-text-color: #777777,
    outlined-outline-color: #777777,
    outlined-hover-outline-color: #777777,
    outlined-focus-outline-color: #C4F120,
    outlined-focus-label-text-color: #C4F120
  ));
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

mat-form-field.contact-search-input {
  .mat-mdc-form-field-bottom-align {
    display: none;
  }
}

app-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: scroll;
  width: 99.6%;
}

mat-sidenav {
  .mat-drawer-inner-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
}
